src/main/mule/prwss-orders-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="prwss-orders-eapi-main" doc:id="3c271e3b-f532-46e9-b837-de4a6b755d5b">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="set the correlationId" doc:id="9b7bb95d-6474-475f-9851-cf37d7275bd4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.correlationId default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="prwss-orders-eapi-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="prwss-orders-eapi-console">
        <http:listener config-ref="http-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="prwss-orders-eapi-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="get:\health:prwss-orders-eapi-config">
		<flow-ref doc:name="health-check" doc:id="90a3b7d2-ce1a-464c-b1d4-4583a429c8c1" name="healthcheckFlow"/>
    </flow>
    <flow name="post:\customer-registration:application\json:prwss-orders-eapi-config">
		<flow-ref doc:name="customer-registration" doc:id="9056315d-0955-4e0d-b697-1e9d9bcdebf3" name="customer-registration"/>
    </flow>
    <flow name="post:\placing-order:application\json:prwss-orders-eapi-config" doc:id="3fef70c9-8179-46ab-9bcc-e75b9159fc66">
		<flow-ref doc:name="order-placing" doc:id="33762000-c287-48a1-bd11-e8fe488530db" name="order-placing"/>
    </flow>
</mule>
